doctype html
html
  include ../partial/head.jade
  block head
  body
    #wrapper
        include ../partial/header.jade
        #content
          block content
    include ../partial/footer.jade
    block javascript
