doctype html
html(ng-app="indexApp")
  include ../partial/head.jade
  block head
  body(ng-controller="indexCtrl")
    #modal
      include ../partial/loginModal
    #wrapper
        include ../partial/header.jade
        #content
          block content
    include ../partial/footer.jade
    block javascript
