
<header id="header">
  <nav class="mod_header-nav navbar navbar-default">
    <div class="container">
      <div class="mod_logo pull-left"><a href="/">TimeExchange
          <!--img(src='').img-responsive--></a></div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">register</a></li>
        <li><a href="/auth/facebook">login</a></li>
        <div class="mod_user"><a href="#"><img src="https://s3.amazonaws.com/profile_photos/30390457330315.cLSEphxDroi4IfvNqPDU_60x60.png" class="img-responsive"/></a></div>
        <section class="mod_search-box pull-right">
          <form role="search" class="form-inline">
            <div class="form-group">
              <input type="search" id="search" placeholder="search..." class="form-control"/>
              <button type="submit" id="search-btn" class="form-control"><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </form>
        </section>
        <!--end mod_search-box-->
        
      </ul>
    </div>
  </nav>
</header>