extends ./scaffold/scaffold.jade

block content
  section.mod_hero-section
    .homepage-hero-module
      .video-container
          .filter
          video.fillWidth(autoplay='', loop='')
            source(src='/videos/MP4/homepage-hero-video.mp4', type='video/mp4')
            | Your browser does not support the video tag. I suggest you upgrade your browser.
            source(src='/videos/MP4/homepage-hero-video.webm', type='video/webm')
            | Your browser does not support the video tag. I suggest you upgrade your browser.
          .poster.hidden
            img(src='/img/homepage-hero-image.jpg', alt='')
    nav.mod_navbar.navbar.navbar-default
      .container
        .mod_logo.pull-left
          a(href="/")
            img(src='').img-responsive
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="#") 註冊
            li
              a(href="/auth/facebook") 登入
            .mod_user
              a(href="#")
                img.img-responsive(src="https://s3.amazonaws.com/profile_photos/30390457330315.cLSEphxDroi4IfvNqPDU_60x60.png")
    //end mod_navbar


block javascript
  script.
    //jQuery is required to run this code
    $( document ).ready(function() {
        scaleVideoContainer();

        initBannerVideoSize('.video-container .poster img');
        initBannerVideoSize('.video-container .filter');
        initBannerVideoSize('.video-container video');

        $(window).on('resize', function() {
            scaleVideoContainer();
            scaleBannerVideoSize('.video-container .poster img');
            scaleBannerVideoSize('.video-container .filter');
            scaleBannerVideoSize('.video-container video');
        });
    });

    function scaleVideoContainer() {

        var height = $(window).height() + 5;
        var unitHeight = parseInt(height) + 'px';
        $('.homepage-hero-module').css('height',unitHeight);

    }
    function initBannerVideoSize(element){

        $(element).each(function(){
            $(this).data('height', $(this).height());
            $(this).data('width', $(this).width());
        });

        scaleBannerVideoSize(element);

    }
    function scaleBannerVideoSize(element){

        var windowWidth = $(window).width(),
        windowHeight = $(window).height() + 5,
        videoWidth,
        videoHeight;

        console.log(windowHeight);

        $(element).each(function(){
            var videoAspectRatio = $(this).data('height')/$(this).data('width');

            $(this).width(windowWidth);

            if(windowWidth < 1000){
                videoHeight = windowHeight;
                videoWidth = videoHeight / videoAspectRatio;
                $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

                $(this).width(videoWidth).height(videoHeight);
            }

            $('.homepage-hero-module .video-container video').addClass('fadeIn animated');
        });
    }