extends ./scaffold/scaffold.jade

block content
  section.mod_hero-section
    .stars
    .twinkling
    section.hero-content-wrapper(data-0="position:absolute;bottom:20%;" data-500="position:absolute;bottom:35%;")
      .container
        .hero-text.text-center
          h1 Hello World
          h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique quam in purus eleifend maximus. Nullam sed magna eget leo consequat faucibus in vitae magna. Quisque ultricies, enim at tempor ornare, lorem orci congue lectus, ut viverra ante lectus a quam.
        .common_thirty
        .index-search
          form.form-horizontal
            .form-group
              input.form-control(type="search" id="search", name='query' placeholder="search...")
              input.form-control(type="hidden" id="category", name='category', value="course")
              .dropdown-select
                button#searchDropdown.btn.btn-default.dropdown-toggle.form-control(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                    | 種類
                  ul.dropdown-menu(aria-labelledby='searchDropdown')
                    li
                      a(onclick="changeSearchCategory(this)", data-value="course") 種類
                    li
                      a(onclick="changeSearchCategory(this)", data-value="meetup") 技能
                    li
                      a(onclick="changeSearchCategory(this)", data-value="space") 地點
              button.form-control(type="submit" id="search-btn")
                span.glyphicon.glyphicon-search
  //end mod_hero-section
  section.mod_intro
    .container
      .content-wrapper.text-center
        header.page-header
          h3 What are SkillExchange and TimeBanking?
        h4 Some large introductory text that can provide an overview of what this page is about. This can be useful for readers that are skimming (everyone).
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique quam in purus eleifend maximus. Nullam sed magna eget leo consequat faucibus in vitae magna. Quisque ultricies, enim at tempor ornare, lorem orci congue lectus, ut viverra ante lectus a quam. Pellentesque elementum luctus risus, vel pulvinar magna facilisis at. Vivamus sit amet pretium diam. Suspendisse in neque ac orci auctor rutrum.
  section.mod_cases
    .container
      .content-wrapper.text-center
        header.page-header
          h3 What People Say?
        .mod_entries.col-xs-12.col-md-4
          .card-grid
            a(href="#")
              .entry-image(style="background-image:url('https://unsplash.it/400/400?image=838');background-size:cover;background-position:50%;background-repeat:no-repeat;")
            .common_description.text-center
               header.entry-title
                 h4 Nicole Martin
               p Quisque viverra metus non dui egestas, ac dignissim risus.
               a(href="#").btn.btn-more Read Story
        .mod_entries.col-xs-12.col-md-4
          .card-grid
            a(href="#")
              .entry-image(style="background-image:url('https://unsplash.it/400/400?image=602');background-size:cover;background-position:50%;background-repeat:no-repeat;")
            .common_description.text-center
               header.entry-title
                 h4 Randy Allen
               p Quisque viverra metus non dui egestas, ac dignissim risus.
               a(href="#").btn.btn-more Read Story
        .mod_entries.col-xs-12.col-md-4
          .card-grid
            a(href="#")
              .entry-image(style="background-image:url('https://unsplash.it/400/300?image=823');background-size:cover;background-position:50%;background-repeat:no-repeat;")
            .common_description.text-center
               header.entry-title
                 h4 Sara Kelly
               p Quisque viverra metus non dui egestas, ac dignissim risus.
               a(href="#").btn.btn-more Read Story





block javascript
  script.
    var s = skrollr.init();
  script.
    //jQuery is required to run this code
    $( document ).ready(function() {
        scaleVideoContainer();

        initBannerVideoSize('.video-container .poster img');
        initBannerVideoSize('.video-container video');

        $(window).on('resize', function() {
            scaleVideoContainer();
            scaleBannerVideoSize('.video-container .poster img');
            scaleBannerVideoSize('.video-container video');
        });
    });

    function scaleVideoContainer() {

        var height = $(window).height() + 5;
        var unitHeight = parseInt(height) + 'px';
        $('.homepage-hero-module').css('height',unitHeight);

    }
    function initBannerVideoSize(element){

        $(element).each(function(){
            $(this).data('height', $(this).height());
            $(this).data('width', $(this).width());
        });

        scaleBannerVideoSize(element);

    }
    function scaleBannerVideoSize(element){

        var windowWidth = $(window).width(),
        windowHeight = $(window).height() + 5,
        videoWidth,
        videoHeight;

        console.log(windowHeight);

        $(element).each(function(){
            var videoAspectRatio = $(this).data('height')/$(this).data('width');

            $(this).width(windowWidth);

            if(windowWidth < 2000){
                videoHeight = windowHeight;
                videoWidth = videoHeight / videoAspectRatio;
                $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

                $(this).width(videoWidth).height(videoHeight);
            }

            $('.homepage-hero-module .video-container video').addClass('fadeIn animated');
        });
    }