<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="timeexchange">
    <meta name="author" content="tex">
    <link rel="icon" href="">
    <title>TimeExchange</title>
    <!-- Custom styles for this template-->
    <link href="../public/css/font-awesome.min.css" rel="stylesheet">
    <link href="../public/css/TEX-main.css" rel="stylesheet">
    <script src="../public/js/skrollr.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries--><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div id="wrapper">
      <header id="header">
        <nav class="mod_header-nav navbar navbar-default">
          <div class="container">
            <div class="mod_logo pull-left"><a href="/">TimeExchange
                <!--img(src='').img-responsive--></a></div>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">register</a></li>
              <li><a href="/auth/facebook">login</a></li>
              <div class="mod_user"><a href="#"><img src="https://s3.amazonaws.com/profile_photos/30390457330315.cLSEphxDroi4IfvNqPDU_60x60.png" class="img-responsive"></a></div>
              <section class="mod_search-box pull-right">
                <form role="search" class="form-inline">
                  <div class="form-group">
                    <input type="search" id="search" placeholder="search..." class="form-control">
                    <button type="submit" id="search-btn" class="form-control"><span class="glyphicon glyphicon-search"></span></button>
                  </div>
                </form>
              </section>
              <!--end mod_search-box-->
              
            </ul>
          </div>
        </nav>
      </header>
      <div id="content">
      </div>
    </div>
    <footer id="footer"></footer>
    <!--
    Bootstrap core JavaScript
    ==================================================
    -->
    <!-- Placed at the end of the document so the pages load faster-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>