@import "bootstrap/bootstrap.less";
@import "TEX-variable.less";

/* ==========================================================================
   General Items 基本設定
   ========================================================================== */

html{
  font-size: 62.5%; // 16px*62.5%=10px
  @media screen and (min-width: @grid-float-breakpoint){
    font-size: 100%; // 16px
  }
}

body{
  font-size: @font-size-base; 
  font-family: @font-family-base;
  color: @text-color;
  background: @body-bg;
  margin: 0px;
  padding: 0px;
}

/* ==========================================================================
   Layout 版面
   ========================================================================== */

//**** header ****

#header{
  width: 100%;
  background: transparent;
}

//**** wrapper ****

#wrapper{
  min-height: 100vh; /* occupy 100% view height no matter how much content */
}

//**** content ****

#content{
  overflow:auto; 
  padding-bottom: 50px; /* space for footer height */
}

//**** main ****

//**** aside ****

//**** footer ****

#footer{
  clear:both;
  margin-top: -50px; /* negative value of footer height */
  min-height: 50px; /* footer height */
  width: 100%;
}

/* ==========================================================================
   Module 模組 （_mod）
   ========================================================================== */

//**** starry night ****

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


.stars, .twinkling{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background: #192D3C url('../img/stars.png') repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url('../img/twinkling.png') repeat top center;
  z-index:1;
  -moz-animation:move-twink-back 300s linear infinite;
  -ms-animation:move-twink-back 300s linear infinite;
  -o-animation:move-twink-back 300s linear infinite;
  -webkit-animation:move-twink-back 300s linear infinite;
  animation:move-twink-back 300s linear infinite;
}



//**** homepage video ****

.mod_hero-section{
  position: relative;
  min-height: 100vh;
  background: -webkit-linear-gradient(#192D3C, #3B5466); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#192D3C, #3B5466); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#192D3C, #3B5466); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#192D3C, #3B5466); /* Standard syntax */
}

.starrynight{
  min-height:100vh;
  background:url('https://www.script-tutorials.com/demos/360/images/stars.png');
  background-size:cover;
  background-position:50%;
  background-repeat:no-repeat;
}

.hero-content-wrapper{
  position: absolute;
  bottom: 20%;
  z-index: 10;
  width: 100%;
}

.hero-text{
  max-width: 800px;
  margin: 0 auto;
  color: @white-base;
  h1{
    font-size: 80px;
  }
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  .poster{
    min-height: 540px;
    img {
      width: 100%;
      bottom: 0;
      position: absolute;
      -webkit-filter: brightness(70%);
      -moz-filter: brightness(70%);
      filter: brightness(70%);
    }
  }
  .filter {
    z-index: 5;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
  }
  video {
    position: absolute;
    z-index: 0;
    bottom: 0;
    &.fillWidth{
      width: 100%;
    }
  }
}


//**** logo module ****

.mod_logo{
  position: relative;
  height: @navbar-height; /* same as parent's height in order to set the reference for vertical align */
  margin-right: @margin-base;
  a{
    display: block;
    font-size: 16px;
    color: @white-base;
    margin: round((@navbar-height - 20) / 2);
    img{    
      width: 100px;
      height: @navbar-height;
      vertical-align: middle;
    }
  }
}

//**** header-nav module ****

.mod_header-nav{
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 50px;
  background: transparent;
  border: none;
  .border-radius(0px);
  //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  margin-bottom: 0px;
  ul.navbar-nav{
  &.navbar-right{
    >li{
        >a{
          height: @navbar-height;
          padding-left: round((@navbar-height - 20) / 2);
          padding-right: round((@navbar-height - 20) / 2);
          text-transform: uppercase;
          color: @white-base;
          transition: all .2s 0s ease-in-out;
          &:hover,
          &:focus{
            border-bottom: 3px solid @accent-1;
          }
        }
      }
    }
  }
}

//**** navbar module ****

.mod_navbar{
  position: absolute;
  z-index: 8;
  top: 0px;
  width: 100%;
  border: none;
  .border-radius(0px);
  background: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  ul.navbar-nav{
    >li{
      >a{
        height: @navbar-height;
        padding-left: round((@navbar-height - 20) / 2);
        padding-right: round((@navbar-height - 20) / 2);
        text-transform: uppercase;
        color: @white-base;
        transition: all .2s 0s ease-in-out;
        &:hover,
        &:focus{
          color: @white-base;
          border-bottom: 3px solid @accent-1;
        }
      }
    }
  }
}

//**** search-box module ****

.mod_search-box{
  margin-top: 7px;
  margin-left: @margin-base/2;
  .form-group{
    margin: 0px;
    .form-control{
      .appearance(none);
      .border-radius(0px);
      border: none;
      &#search{
        float: left;
        width: 80%;
        .border-radius(5px 0px 0px 5px);
        .box-shadow(none);
        border: 1px solid #ddd;
      }
      &#search-btn{
        float: right;
        width: 20%;
        .border-radius(0px 5px 5px 0px);
        color: @white-base;
        background-color: @accent-1;
      }
    }
  }
}

//**** index-search module ****

.index-search{
  height: 100px;
  padding: 20px 0px;
  .form-horizontal{
    width: 70%;
    margin: 0 auto;
    .form-group{
      margin-bottom: 0px;
      .form-control{
        display: inline-block;
        float: left;
        height: 60px;
        font-size: 16px;
        color: @gray-base;
        .border-radius(0px);
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        &#search{
          width: 70%;
          border-radius: 10px 0px 0px 10px;
          @media(max-width:420px){width: 55%;}
        }
        &#search-btn{
          width: 15%;
          float: right;
          background-color: @accent-1;
          color: @white-base;
          border-color: transparent;
          border-radius: 0px 10px 10px 0px;
          &:hover{
            background-color: #83bb48;
          }
        }
      }
    }
  }
}

.dropdown-select{
  display:inline-block;
  vertical-align:middle;
  position:relative;
  width:15%;
  @media(max-width:420px){width: 30%; float: left;}
  #searchDropdown.btn-default{
    text-align: left;
    color: @gray-base;
    border: none;
    &:hover,
    &:focus{
      background: @white-base;
      color: @gray-base;
    }
    &:after{
      content:"";
      position:absolute;
      z-index:2;
      right:10px;
      top:50%;
      margin-top:-3px;
      height:0;
      width:0;
      border-top:6px solid @gray-base;
      border-left:6px solid transparent;
      border-right:6px solid transparent;
      pointer-events:none;
    }
  }
  .dropdown-menu{
    left: -92px;
    min-width: 236px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    .border-radius(2px);
    font-size: 16px;
    >li{
      >a{
        color: #666;
        &:hover,
        &:focus{
          color: @white-base;
          background-color: @accent-1;
        }
      }
    }
  }
}



//**** user module ****

.mod_user{
  &:extend(.navbar-brand);
  float: none;
  overflow: hidden;
  img{
    background-color: @gray-light;
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  @media screen and (min-width: @grid-float-breakpoint){
    float: left;
    padding: 7px; /* (navbar height - img width)/2 */
    padding-right: 0px;
  }
}


//**** intro module ****

.mod_intro{
  .content-wrapper{
    margin: 0 auto;
    padding: 2rem;
    @media screen and (min-width: @grid-float-breakpoint){
      max-width: 780px;
    }
  }
}

//**** entries module ****

.mod_entries{
  position: relative;
  margin-bottom: @margin-base/2;
  .entry-image{
    width: 100%;
    height: 160px;
    /* Define image hover effect */
    &:hover{
      .de_veil{
        opacity: 0.5;
      }
    } 
  }
  .entry-title{
    margin-top: 20px;
  }
}

.card-grid{
  padding: 10px;
  background-color: #f7f7f9;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
}

//**** buttons ****

.btn-more{
  background: @accent-1;
  color: @white-base;
  font-size: @font-size-small;
  .border-radius(2px);
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
  &:hover,
  &:focus{
    color: @white-base;
    box-shadow: 0 4px 21px 0 rgba(0,0,0,.2),0 5px 20px 0 rgba(0,0,0,.2);
  }
}

.common_twenty{
  width: 100%;
  background: none;
  height: 20px;
  clear: both;
}

.common_thirty{
  width: 100%;
  background: none;
  height: 30px;
  clear: both;
}


