header#header
  nav.mod_header-nav.navbar.navbar-default
    .container
      .mod_logo.pull-left
        a(href="/") TimeExchange
          //img(src='').img-responsive
      ul.nav.navbar-nav.navbar-right
        li
          a(href="#") register
        li
          a(href="/auth/facebook") login
        .mod_user
          a(href="#")
            img.img-responsive(src="https://s3.amazonaws.com/profile_photos/30390457330315.cLSEphxDroi4IfvNqPDU_60x60.png")
        section.mod_search-box.pull-right
          form.form-inline(role="search")
            .form-group
              input.form-control(type="search" id="search", placeholder="search...")
              button.form-control(type="submit" id="search-btn")
                span.glyphicon.glyphicon-search
        //end mod_search-box

          
  